.cart-items {
    display: flex;
    flex-direction: column; /* وضع العناصر في عمود */
    margin: 20px 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between; /* توزيع العناصر بشكل جيد */
    margin: 15px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: white;
}

.item-details {
    flex-grow: 1;
    margin-right: 15px; /* إضافة هامش للجانب الأيمن */
}

.quantity-input {
    width: 50px;
    margin-right: 10px; /* إضافة هامش للجانب الأيمن */
}

.total {
    text-align: left; /* محاذاة المجموع الكلي إلى اليسار */
    margin-top: 20px;
}

.checkout-button {
    background-color: var(--secondary);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: var(--accent); /* تغيير لون الزر عند المرور عليه */
}
