:root {
    --text: #040316; /* اللون للنصوص */
    --background: #f7f1e0; /* لون الخلفية */
    --primary: #efba66; /* اللون الأساسي */
    --secondary: #e89365; /* اللون الثانوي */
    --accent: #92da5f; /* لون التمييز */
}

body {
    font-family: 'Markazi Text', serif; /* استخدام خط Markazi Text */
    background-color: var(--background);
    color: var(--text);
    text-align: right; /* لجعل النصوص تتجه لليمين */
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
}

.header-container {
    display: flex;
    align-items: center; /* محاذاة العناصر في المنتصف عمودياً */
    justify-content: space-between; /* توزيع العناصر */
}

nav {
    margin-right: auto; /* دفع الروابط إلى اليسار */
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-family: 'Jomhuria', cursive; /* استخدام خط Jomhuria */
}

.container {
    padding: 20px;
}

h2 {
    font-family: 'Mirza', cursive; /* استخدام خط Mirza */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* توزيع المنتجات بشكل أفضل */
}

.product {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    background-color: white;
    transition: transform 0.3s; /* تأثير التحويل */
    width: 30%; /* تحديد عرض المنتج */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* إضافة ظل خفيف للمنتجات */
}

.product:hover {
    transform: scale(1.05); /* تكبير المنتج عند المرور عليه */
}

button {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--accent); /* تغيير لون الزر عند المرور عليه */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(
